* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #543e15;
    color: aliceblue;
}

header {
    background-color: #1a1a1a;
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 300px;
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

nav {
    background-color: #1a1a1a;
    padding: 10px 0;
    text-align: center;
}

.ul-nav {
    list-style: none;
}

.ul-nav li {
    display: inline;
    margin: 0 10px;
}

.ul-nav a {
    text-decoration: none;
    color: aliceblue;
}

.ul-nav a:hover {
    color: #f1c40f;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.box-most-wanted {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}

.personaje {
    background-color: #1a1a1a;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.img-personaje {
    width: 100%;
    border-radius: 10px;
}

.galery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    gap: 10px;
}

.img-meme {
    width: 300px;
    border-radius: 10px;
}

.video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    gap: 10px;    
}

/*pruebas*/
.pruebas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    gap: 10px;
}

.pruebas p {
    background-color: #403838;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.pruebas p:hover {
    background-color: #000000;
}

/* Añadir esto a tu archivo css/estilos.css */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {    
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*responsive*/
@media screen and (max-width: 600px) {
    .contenedor {
        padding: 10px;
    }

    .personaje {
        width: 100%;
    }

    .img-personaje {
        width: 100%;
    }

    .galery {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .img-meme {
        width: 100%;
    }

    .video {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-content {
        width: 100%;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Espacio entre los videos */
        padding: 20px;
    }
    
    video {
        width: 100%;
        max-width: 640px;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    
    @media (min-width: 768px) {
        .video-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        video {
            width: 45%;
            max-width: none;
        }
    }
    
}